body{
    font-family: arial,sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #fff;

    background-color: black;
}
.faq-title {
    display: block;
    padding: 10px 15px;
    position: relative;

    cursor: pointer;
    color: #fff;

    transition: background .2s ease-out ;
}
.faq-title:hover {
    background-color: blue;
}
.faq {
    max-width: 500px;
    margin: 20px auto;
}
.faq-item {
    border: 1px solid #c7c7c7;
    margin-bottom: 5px;
}
.faq-img {
    display: none;
    font-size: 14px;
    text-align: center;
}
.faq-input {
    width: 0;
    height: 0;

    appearance: none;
    position: absolute;
}
.faq-input:checked ~ .faq-title {
    background-color: blue;
}

.faq-input:checked ~ .faq-img {
    display: block;
}
.faq-title::after {
    content: "";
    display: block;

    border-style: solid;
    border-width: 0 25px 25px 25px;
    border-color: transparent transparent #007bff transparent;
   

    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
}
img {
    max-width: 300px;
}
@media screen and (max-width: 1920px) {
    div.faq{width: 1900px;}
}
@media screen and (max-width: 820px) {
    div.faq{width: 800px;}
}
@media screen and (max-width: 320px) {
    div.faq{width: 300px;}
}
